*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background: url("https://www.pngmart.com/files/4/Playstation-PNG-Pic.png");
}

main{
    display: flex;
    width: 100%;
    padding-left: 20px;
}

section{
    width: 70%;
    height: auto;
}

aside{
    padding-left: 3%;
    width: 25%;
    height: auto;
}

footer{
    
    
    
}